<div class="form-group row">
  <div class="col-md-3">
    <%= form.label :diet, 'Dietary Preferences', class: 'col-form-label' %>
  </div>
  <div class="col-md-9">
    <%= form.text_area :diet, id: "#{id_stem}_diet", class: 'form-control' %>
    <small class="form-text text-muted">For example, vegan, vegetarian, gluten free, and any allergies or intolerances.</small>
  </div>
</div>
