<div class="container">
  <div class="row">
    <div class="offset-lg-2 col-lg-8">
      <%= render partial: 'leader' %>
      <h2>Welcome Back</h2>
      <p>It looks like you've already registered your RSVP, so we've sent you an email with a link that you can use to update it.</p>
      <p>Please check your <tt><%= @guest.email %></tt> email including spam folders!</p>
      <p>If you don't receive the email, please <%= mail_to ENV['CONTACT_EMAIL'], 'contact us' %>.</p>
    </div>
  </div>
</div>
