<section id="activities" class="bg-octonary">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="title-section">
          <h2>Activities</h2>
          <span class="underline"></span>
        </div>
        <p>Here are a few of our favorite local spots that we’d be excited for you to check out.</p>
      </div>
    </div>
    <div class="row justify-content-center pt-5">
      <div class="col-md-3 ml-2">
        <h4>coffee/tea/breakfast</h4>
        <ul>
          <li><a href="https://www.facebook.com/TheVidaCafe/" target="_blank">Vida Café</a></li>
          <li><a href="https://www.instagram.com/serendipitycoffeeco/" target="_blank">Serendipity Coffee Company</a></li>
          <li><a href="https://mckenziestationpub.wixsite.com/mckenziestatoinpub" target="_blank">Mckenzie Station Restaurant</a></li>
          <li><a href="https://www.mckenziegeneral.com/home" target="_blank">McKenzie General Store & Obsidian Grill Restaurant</a></li>
        </ul>
      </div>
      <div class="col-md-3 ml-2">
        <h4>lunch/dinner</h4>
        <ul>
          <li><a href="https://mckenziestationpub.wixsite.com/mckenziestatoinpub" target="_blank">Mckenzie Station Restaurant</a></li>
          <li><a href="https://www.mckenziegeneral.com/home" target="_blank">McKenzie General Store & Obsidian Grill Restaurant</a></li>
          <li><a href="https://takodasrainbow.com/" target="_blank">Takoda's Restaurant</a></li>
          <li><a href="https://www.ikespizzaleaburg.com/menu" target="_blank">Ike's Pizza</a></li>
        </ul>
      </div>
      <div class="col-md-3 ml-2">
        <h4>hiking</h4>
        <ul>
          <li><a href="https://goo.gl/maps/SEP3XipEhiW9C3v19" target="_blank">Tamolitch Falls (Blue Pool) - 3.6 mi</a></li>
          <li><a href="https://goo.gl/maps/CWeuRPwyrxBqpBNG9" target="_blank">Proxy Falls - 1.6 mi</a></li>
          <li><a href="https://goo.gl/maps/Ze5XgfEKP9XVCabn7" target="_blank">Sahalie and Koosah Falls</a></li>
          <li><a href="https://goo.gl/maps/SqqdaQxh637rMYC28" target="_blank">McKenzie River Trail</a></li>
        </ul>
        <h4>hot springs</h4>
        <ul>
          <li><a href="https://goo.gl/maps/u4rqQNnbnRJh4jo98" target="_blank">Belknap Hot Springs</a></li>
          <li><a href="https://goo.gl/maps/mm6HH8BPXAr7AGrk6" target="_blank">Terwilliger (Cougar) Hot Springs</a></li>
          <li><a href="https://goo.gl/maps/QKBoCZnFHw9tQcEZA" target="_blank">Bigelow (Deer Creek) Hot Springs</a></li>
        </ul>
      </div>

    </div>
  </div>
</section>