<section id="faq" class="bg-senary">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="title-section">
          <h2>FAQ</h2>
          <span class="underline"></span>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8 text-center text-light">
        <h3 class="text-uppercase">Your Calendar</h3>
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  There are a lot of things on the schedule. What events should I attend?
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                We wanted the schedule a holistic view of the events we've planned, but please only join in for the events shown under your RSVP.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  When should I arrive and how long should I stay?
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                Most of the events kick off on Friday night and end on Sunday afternoon, but please enjoy the area for as long as you're able.
              </div>
            </div>
          </div>
        </div>
        <h3 class="text-uppercase">Your Suitcase</h3>
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  What should I wear? shoes, dress, etc.
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                Shoes: Weather permitting, the ceremony and reception will be outdoors, so shoes that can traverse gravel and grass would make your life easier.<br>
                Dress: Wear whatever makes you feel classy without sacrificing your comfort. Think warm afternoons and cool evenings.
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Should I pack anything special?
                  </button>
                </h5>
              </div>

              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                  If the temperature is right, you may be tempted to dip in the river. If so, a bathing suit is a must! Hiking boots/comfortable sneakers, sandals would also ensure your ability to explore trails in comfort.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    What will the weather be like in McKenzie Bridge that time of year?
                  </button>
                </h5>
              </div>

              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="card-body">
                  McKenzie Bridge averages a high of 78F and a low of 48F during the month of June. A light jacket and/or rain gear may be useful during your stay.
                </div>
              </div>
            </div>
          </div>
        </div>
        <h3 class="text-uppercase">Your Bellies</h3>
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingSix">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  Should I buy groceries for my cabin?
                </button>
              </h5>
            </div>

            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
              <div class="card-body">
                Yes! We will be catering Friday and Saturday night dinners so whatever you need to hold you between those, stop by a grocery store before you arrive.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingSeven">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                  Will you be serving alcohol at the reception?
                </button>
              </h5>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
              <div class="card-body">
                Yes, we will be serving beer and wine, along with an assortment of non-alcoholic beverages.
              </div>
            </div>
          </div>
        </div>
        <h3 class="text-uppercase">Your Photos</h3>
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingEight">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                  Can I take pictures during the ceremony?
                </button>
              </h5>
            </div>

            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
              <div class="card-body">
                We are asking everyone to not take photos during the ceremony, but please share any photos you take during the reception using this QR code.
              </div>
            </div>
          </div>
        </div>
        <h3 class="text-uppercase">Your Sanity</h3>
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingNine">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                  Will there be cell service?
                </button>
              </h5>
            </div>
            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
              <div class="card-body">
                We’ll be surrounded by national forest so don’t bet on it. Luckily, there is wifi in the Main Lodge cabin!
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingTen">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen"
                        aria-expanded="false" aria-controls="collapseTen">
                  Are children invited to the wedding?
                </button>
              </h5>
            </div>
            <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
              <div class="card-body">
                While we love your children, we hope for everyone to be fully present for the reception and stay for the party. If this may prevent you from attending, reach out to us!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
