<footer id="welcome-index-footer" class="page-footer">
  <div class="container-fluid">
    <div class="row">
      <div id="welcome-index-footer-cta" class="col-md-12 text-center">
        <%#= link_to 'RSVP TODAY!', new_guest_path, class: 'btn btn-primary wedding-cta-btn' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center" id="welcome-index-footer-credits">
        <small><% t :photo_credits %></small>
      </div>
    </div>
  </div>
</footer>
