<section id="getting-there">
  <div class="container-fluid bg-quaternary">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Getting there</h2>
        <span class="underline text-white"></span>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <div class="title-section">
          <h3>McKenzie Bridge, OR</h3>
        </div>
        <p>Surrounded by miles of hiking and mountain biking trails, the wild waters of the McKenzie River and three massive waterfalls, McKenzie Bridge is a favorite getaway for outdoor enthusiasts. Relax your weary muscles in the soothing, hot mineral water pools of Belknap Hot Springs.</p>
        <p>In summer and early fall, drive the McKenzie Pass–Santiam Pass Scenic Byway to Dee Wright Observatory, a historic observatory built out of lava rock, and hike through lava fields and old-growth forests to Proxy Falls.</p>
      </div>
    </div>
  </div>
</section>
