<section id="getting-there" class="bg-quaternary">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="title-section">
          <h2>Getting there</h2>
          <span class="underline text-white"></span>
        </div>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-4">
        <i class="iconoir-airplane"></i>
        <h3 class="text-dark">By Plane</h3>
        <p class="font-weight-light">Redmond Airport (RDM) ~1h 20m drive<br />
          Eugene Airport (EUG) ~1h drive<br />
          Portland Int'l Airport (PDX) ~ 3hr drive
        </p>
        <span class="align-text-bottom">
          <a class="btn btn-outline-octonary"
             href="https://www.google.com/travel/flights/search?tfs=CBwQAhojagwIAhIIL20vMHpjamwSCjIwMjMtMDYtMTVyBwgBEgNSRE0aI2oHCAESA1JETRIKMjAyMy0wNi0xOHIMCAISCC9tLzB6Y2pscAGCAQsI____________AUABSAGYAQE"
             role="button"
             target="_blank">
            Find Flights
          </a>
        </span>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-4">
        <i class="iconoir-car-outline"></i>
        <h3 class="text-dark">By Car</h3>
        <p class="font-weight-light">
          If you're coming from the East (Bend/Sisters), the McKenzie Pass scenic
          byway follows the path of an 1860s wagon route, emerging from the forest at Windy Point to a jaw-dropping vista of Mount Washington and a 65-square-mile lava flow.
        </p>
        <a class="btn btn-outline-octonary"
           href="https://www.google.com/maps/dir//Loloma+Lodge,+McKenzie+Highway,+McKenzie+Bridge,+OR/@44.1755971,-122.1868862,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x54c0a71a8a422f2b:0xa3b8f06e656d7987!2m2!1d-122.151867!2d44.1756024"
           role="button"
           target="_blank">
          Driving Directions
        </a>
      </div>
    </div>
  </div>
</section>
