<section id="hero" class="text-center jumbotron">
  <div class="container flex">
    <h1 class="jumbotron-heading"><%= t :wedding_couple_names %></h1>
    <p class="leader-date">
      <%= t :wedding_date %>, <%= t :wedding_location %>
    </p>
    <div class="scroll">
      <p>SCROLL FOR MORE</p>
      <i class="iconoir-arrow-down"></i>
    </div>
  </div>
</section>
