<section id="hero" class="text-center jumbotron">
  <div class="container flex">
    <h1 class="jumbotron-heading"><%= t :wedding_couple_names %></h1>
    <p class="leader-date">
      <%= t :wedding_date %>
    <br/>
      <%= t :wedding_location %>
    </p>
    <a
      class="btn btn-outline-secondary"
      href="https://katieandtraviswedding.rsvpify.com/"
      role="button"
      target="_blank">
      RSVP
    </a></strong>
    <div class="row justify-content-center">
      <div class="scroll">
        <p>SCROLL FOR MORE</p>
        <i class="iconoir-arrow-down"></i>
      </div>
    </div>
  </div>
</section>
