<section id="welcome-index-leader" class="text-center jumbotron">
  <div class="container">
    <h1 class="jumbotron-heading"><%= t :wedding_couple_names %></h1>
    <p class="leader-date">
      <%= t :wedding_date %>, <%= t :wedding_location %>
    </p>
    <div class="justify-content-md-center scroll">
      <p>SCROLL FOR MORE</p>
      <p><ion-icon name="heart"></ion-icon></p>
    </div>
  </div>
</section>
