<section id="lodging" class="bg-senary">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="title-section">
          <h2>Lodging</h2>
          <span class="underline"></span>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4 text-center">
        <%= image_tag "cottage.jpg", class: "rounded mt-2 mb-4" %>
        <h4>hotel</h4>
        <p>We’ve reserved rooms at the McKenzie Riverside Cottages. Everything is within a 10 minute drive from the venue</p>
        <a
          class="btn btn-sm btn-outline-secondary"
          href="https://mckenzieriversidecottages.com/"
          role="button"
          target="_blank">
          McKenzie Riverside Cottages
        </a>
        <a
          class="btn btn-sm btn-outline-secondary"
          href="https://horse-creek.com/mckenzie-river-rental-cabins/"
          role="button"
          target="_blank">
          Horse Creek Lodge
        </a>
        <a
          class="btn btn-sm btn-outline-secondary"
          href="https://www.belknaphotsprings.com/"
          role="button"
          target="_blank">
          Belknap Hot Springs Resort
        </a>
      </div>
      <div class="col-md-4 text-center">
        <%= image_tag "aframe.jpg", class: "rounded mt-2 mb-4" %>
        <h4>airbnb</h4>
        <p>There are some beautiful listings on Airbnb and Vrbo!</p>
        <a class="btn btn-outline-secondary"
           href="https://www.airbnb.com/mckenzie-bridge-or/stays"
           role="button"
           target="_blank">
          airbnb
        </a>
        <a class="btn btn-outline-secondary"
           href="https://www.vrbo.com/vacation-rentals/usa/oregon/willamette-valley/mckenzie-bridge"
           role="button"
           target="_blank">
          vrbo
        </a>
      </div>
    </div>
  </div>
</section>