<section id="lodging" class="bg-senary">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="title-section">
          <h2>Lodging</h2>
          <span class="underline"></span>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-5 text-center">
        <%= image_tag "https://kt-wedding.s3.us-west-2.amazonaws.com/cottage.jpg", class: "rounded mt-2 mb-4" %>
        <h4>hotel</h4>
        <p>We’ve reserved rooms at the <strong>McKenzie Riverside Cottages</strong>. Call for reservations! Shuttles
          will be available on the day of the ceremony.
        </p>
        <a
          class="btn btn-outline-secondary"
          href="https://mckenzieriversidecottages.com/"
          role="button"
          target="_blank">
          <strong>McKenzie Riverside Cottages</strong>
        </a><br>
        <a
          class="btn btn-sm btn-outline-secondary"
          href="https://www.belknaphotsprings.com/"
          role="button"
          target="_blank">
          Belknap Hot Springs Resort
        </a>
      </div>
      <div class="col-md-5 text-center">
        <%= image_tag "https://kt-wedding.s3.us-west-2.amazonaws.com/aframe.jpg", class: "rounded mt-2 mb-4" %>
        <h4>airbnb</h4>
        <p>There are some beautiful listings on Airbnb and Vrbo!</p>
        <a class="btn btn-outline-secondary"
           href="https://www.airbnb.com/mckenzie-bridge-or/stays"
           role="button"
           target="_blank">
          airbnb
        </a>
        <a class="btn btn-outline-secondary"
           href="https://www.vrbo.com/vacation-rentals/usa/oregon/willamette-valley/mckenzie-bridge"
           role="button"
           target="_blank">
          vrbo
        </a>
      </div>
    </div>
  </div>
</section>