<section id="lodging" class="bg-senary">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="title-section">
          <h2>Lodging</h2>
          <span class="underline"></span>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4 text-center">
        <%= image_tag "lodge.jpg", class: "rounded mt-2 mb-4" %>
        <h4>hotel</h4>
        <p>We’ve reserved rooms at a Holiday Inn close to downtown Asheville. Complimentary shuttle service to the downtown area and transportation to and from the wedding ceremony/reception included. Also walking-distance from a Cracker Barrel.</p>
        <a
          class="btn btn-outline-secondary"
          href="https://www.google.com/maps/dir//Loloma+Lodge,+McKenzie+Highway,+McKenzie+Bridge,+OR/@44.1755971,-122.1868862,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x54c0a71a8a422f2b:0xa3b8f06e656d7987!2m2!1d-122.151867!2d44.1756024"
          role="button">Driving Directions</a>
      </div>
      <div class="col-md-4 text-center">
        <%= image_tag "lodge.jpg", class: "rounded mt-2 mb-4" %>
        <h4>airbnb</h4>
        <p>We’ve reserved rooms at a Holiday Inn close to downtown Asheville. Complimentary shuttle service to the downtown area and transportation to and from the wedding ceremony/reception included. Also walking-distance from a Cracker Barrel.</p>
        <a class="btn btn-outline-secondary" href="https://www.google.com/maps/dir//Loloma+Lodge,+McKenzie+Highway,
        +McKenzie+Bridge,+OR/@44.1755971,-122.1868862,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x54c0a71a8a422f2b:0xa3b8f06e656d7987!2m2!1d-122.151867!2d44.1756024" role="button">Driving Directions</a>
      </div>
    </div>
  </div>
</section>