<section id="welcome-index-wedding-plan-leader" class="jumbotron text-center">
  <div class="container">
    <h1>The Plan</h1>
  </div>
</section>
<section id="welcome-index-wedding-plan">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h2>Order of Events</h2>
        <h3>Friday, June 9th</h3>
<!--        <p><strong>12:30pm</strong> &mdash; Guests arrive</p>-->
<!--        <p><strong>1pm</strong> &mdash; Wedding service</p>-->
<!--        <p><strong>1:30pm</strong> &mdash; Cocktails, photos, confetti and canapes</p>-->
        <p><strong>12pm-5pm</strong> &mdash; We be hangin (guests arrive)</p>
        <p><strong>6pm</strong> &mdash; Food Time (everyone's invited)</p>
        <p><strong>7:30pm</strong> &mdash; Some fun event!</p>
        <p><strong>Dress code</strong> is warm.</p>
        <hr>
        <h3>Saturday, June 10th</h3>
        <p><strong>4pm-4:20pm</strong> &mdash; Doin the thang!</p>
        <p><strong>4:30pm - 6pm</strong> &mdash; Cocktail && Joint Hour</p>
        <p><strong>6:30pm(ish) - 10pm</strong> &mdash; Eat, Drink and Dance!</p>
        <h3>Sunday, June 11th</h3>
        <p><strong>11am</strong> &mdash; Brunch at McKenzie River whatever!</p>
        <h2>Oregon Weather in June</h2>
        <p>McKenzie Bridge in June avg high: 78° | avg low 45°</p>
        <h2>Gifts &amp; Cards</h2>
        <p>We'd be pleased if you made a donation to charity rather than bringing a gift. Our goal is to raise £1,000 for <%= link_to 'Cool Earth', @cool_earth_url %>, the non-profit that works alongside rainforest communities to halt deforestation and climate change.</p>
        <p class="text-center"><%= link_to 'Donate to Cool Earth', @cool_earth_url, class: 'btn btn-primary wedding-cta-btn' %></p>
        <p>If you'd like to send us a card, we'll send you our mailing address by email once you RSVP.</p>
        <h2>Menu</h2>
        <p><strong>Starter</strong> &mdash; Home Cured Salmon Gravadlax with Horseradish Cream &amp; Beetroot Tart <sup>*</sup> &dagger;</p>
        <p><strong>Main</strong> &mdash; Fricassee of Chicken with Lyonnaise Potato &ddagger;</p>
        <p><strong>Dessert</strong> &mdash; Choux Swan with Chocolate & Brandy Sauce <sup>&sect;</sup></p>
        <p><strong>Children's Menu</strong>: Garlic bread, chicken goujons and chips, ice cream.</p>
        <ul class="list-unstyled">
          <li><small><sup>*</sup> Gluten free &amp; vegan starter: Tomato soup</small></li>
          <li><small>&dagger; Gluten free &amp; dairy free starter: Gravadlax served without tart</small></li>
          <li><small>&ddagger; Main is gluten free. Vegan main: Aubergine &amp; Black Bean Chilli with Cumin Rice</small></li>
          <li><small><sup>&sect;</sup> Vegan, gluten free &amp; dairy free dessert: Fruit platter</small></li>
        </ul>
        <p>The venue is making every effort to cater for vegan, vegetarian, gluten free, allergies and other dietary preferences, as indicated in your RSVPs.</p>
        <h2>RSVPs</h2>
        <p>Please RSVP as soon as possible, so we know who is coming and can make sure we keep a seat and a piece of cake for you if you can come! If it turns out you can’t make it, please let us know as soon as you can.</p>
      </div>
    </div>
  </div>
</section>
