<section id="registry">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">

        <div class="card">
          <div class="card-body">
            <div class="title-section">
              <h2 class="text-dark">Registry</h2>
              <span class="underline"></span>
            </div>
            <p class="card-text">The best present you could possibly give us is the celebration of our marriage.
              However, if you’d like to spoil us, we’ve picked out a few items that pique our interests.</p>
            <a
              class="btn btn-outline-secondary"
              href="https://www.amazon.com/wedding/share/katieandtravisregistry"
              role="button"
              target="_blank">
              Amazon
            </a></strong>
          </div>
        </div>
<!--        <div class="title-section">-->
<!--          <h2>Registry</h2>-->
<!--          <span class="underline"></span>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</section>