<section id="schedule" class="bg-quinary">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="title-section">
          <h2>Schedule</h2>
          <span class="underline"></span>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-9 text">
        <ul class="nav nav-tabs nav-fill" id="schedule-tab" role="tablist">
          <li class="nav-item text-left">
            <a class="nav-link"
               id="thursday-tab"
               data-toggle="tab"
               href="#thursday"
               role="tab"
               aria-controls="home"
               target="_blank"
               aria-selected="true">THURSDAY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"
               id="friday-tab"
               data-toggle="tab"
               href="#friday"
               role="tab"
               aria-controls="home"
               target="_blank"
               aria-selected="true">FRIDAY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               id="saturday-tab"
               data-toggle="tab"
               href="#saturday"
               role="tab"
               aria-controls="profile"
               target="_blank"
               aria-selected="false">SATURDAY</a>
          </li>
          <li class="nav-item text-right">
            <a class="nav-link"
               id="sunday-tab"
               data-toggle="tab"
               href="#sunday"
               role="tab"
               aria-controls="messages"
               target="_blank"
               aria-selected="false">SUNDAY</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane" id="thursday" role="tabpanel" aria-labelledby="thursday-tab">
            <table class="table table-hover">
              <tbody>
              <tr>
                <td>
                  <h4>campfire hangout</h4>
                  <p>
                    Wedding Party + Family
                  </p>
                </td>
                <td>
                  6:00 to 9:30pm
                  <br>
                  <em>Loloma Lodge</em>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane active" id="friday" role="tabpanel" aria-labelledby="friday-tab">
            <table class="table table-hover">
              <tbody>
              <tr>
                <td>
                  <h4>proxy falls hike</h4>
                  <p>
                    All interested
                    <br />
                    20min drive from venue, 1.6 mile loop
                  </p>
                </td>
                <td>
                  8:00 to 10:30am
                  <br>
                  <em>Proxy Falls</em>
                </td>
              </tr>
              <tr>
                <td>
                  <h4>rehearsal</h4>
                  <p>
                    Wedding Party and Family
                    <br />
                    Dress: Casual
                  </p>
                </td>
                <td>
                  5:00 to 5:45pm
                  <br>
                  <em>Loloma Lodge</em>
                </td>
              </tr>
              <tr>
                <td>
                  <h4>welcome dinner party</h4>
                  <p>
                    All guests
                    <br />
                    Dress: Casual
                  </p>
                </td>
                <td>
                  6:00 to 9:30pm
                  <br>
                  <em>Loloma Lodge</em>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane" id="saturday" role="tabpanel" aria-labelledby="saturday-tab">
            <table class="table table-hover">
              <tbody>
              <tr>
                <td>
                  <h4>coffee hour</h4>
                  <p>
                    Wedding Party & Family + Friends
                  </p>
                </td>
                <td>
                  7:00 to 9:30am
                  <br>
                  <em>Main Cabin Deck</em>
                </td>
              </tr>
              <tr>
                <td>
                  <h4>shuttle to ceremony</h4>
                  <p>
                    Optional for Offsite Guests
                  </p>
                </td>
                <td>Beginning at 3:00pm</td>
              </tr>
              <tr>
                <td>
                  <h4>ceremony & reception</h4>
                  <p>
                    All guests
                    <br />
                    Dress: Semi-formal
                  </p>
                </td>
                <td>
                  4:20 to 10:30pm
                  <br>
                  <em>Loloma Lodge</em>
                </td>
              </tr>
              <tr>
                <td>
                  <h4>shuttle from ceremony</h4>
                  <p>
                    Optional for Offsite Guests
                  </p>
                </td>
                <td>9:30 to 11:00pm</td>
              </tr>
              <tr>
                <td>
                  <h4>after party</h4>
                  <p>
                    All interested
                  </p>
                </td>
                <td>10:30 to late</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane" id="sunday" role="tabpanel" aria-labelledby="sunday-tab">
            <table class="table table-hover">
              <tbody>
              <tr>
                <td>
                  <h4>check-out</h4>
                  <p>
                    Onsite guests
                  </p>
                </td>
                <td>
                  11am
                  <br>
                  <em>Loloma Lodge</em>
                <br>
                </td>
              </tr>
              <tr>
                <td>
                  <h4>brunch</h4>
                  <p>
                    All interested
                  </p>
                </td>
                <td>
                  11am
                  <br>
                  <em>McKenzie General Store</em>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>