<section id="schedule" class="bg-quinary">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="title-section">
          <h2>Schedule</h2>
          <span class="underline"></span>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8 text">
        <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
          <li class="nav-item text-left">
            <a class="nav-link active"
               id="friday-tab"
               data-toggle="tab"
               href="#friday"
               role="tab"
               aria-controls="home"
               aria-selected="true">FRIDAY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               id="saturday-tab"
               data-toggle="tab"
               href="#saturday"
               role="tab"
               aria-controls="profile"
               aria-selected="false">SATURDAY</a>
          </li>
          <li class="nav-item text-right">
            <a class="nav-link"
               id="sunday-tab"
               data-toggle="tab"
               href="#sunday"
               role="tab"
               aria-controls="messages"
               aria-selected="false">SUNDAY</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="friday" role="tabpanel" aria-labelledby="friday-tab">
            <table class="table table-hover">
              <tbody>
              <tr>
                <td>
                  <h4>flower harvest</h4>
                  <p>
                    Family and Bridal Party - Ladies Only
                    <br />
                    Dress: Casual
                  </p>
                </td>
                <td>8:00 to 10:00am</td>
              </tr>
              <tr>
                <td>
                  <h4>welcome party</h4>
                  <p>
                    Everyone
                    <br />
                    Dress: Casual
                  </p>
                </td>
                <td>9:00am to 12:00pm</td>
              </tr>
              <tr>
                <td>
                  <h4>rehearsal</h4>
                  <p>
                    Wedding Party
                    <br />
                    Dress: Casual
                  </p>
                </td>
                <td>3:00 to 5:00pm</td>
              </tr>
              <tr>
                <td>
                  <h4>rehearsal dinner</h4>
                  <p>
                    Everyone
                    <br />
                    Dress: Casual
                  </p>
                </td>
                <td>6:00 to 9:00pm</td>
              </tr>
              <tr>
                <td>
                  <h4>campfire</h4>
                  <p>
                    Everyone
                    <br>
                    Dress: Warm (we'll have blankets!)
                  </p>
                </td>
                <td>9:00pm to late</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane" id="saturday" role="tabpanel" aria-labelledby="saturday-tab">
            <table class="table table-hover">
              <tbody>
              <tr>
                <td>
                  <h4>coffee & brunch</h4>
                  <p>
                    Everyone
                    <br />
                    Dress: Casual
                  </p>
                </td>
                <td>8:00 to 10:30am</td>
              </tr>
              <tr>
                <td>
                  <h4>ceremony</h4>
                  <p>
                    Everyone
                    <br />
                    Dress: Semi-formal
                  </p>
                </td>
                <td>4:20 to 5:00pm</td>
              </tr>
              <tr>
                <td>
                  <h4>cocktail/cannabis hour</h4>
                  <p>
                    Everyone
                  </p>
                </td>
                <td>5:00 to 6:00pm</td>
              </tr>
              <tr>
                <td>
                  <h4>dinner</h4>
                  <p>
                    Everyone
                  </p>
                </td>
                <td>6:30 to 7:30pm</td>
              </tr>
              <tr>
                <td>
                  <h4>dance</h4>
                  <p>
                    Everyone
                  </p>
                </td>
                <td>7:30 to late</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane" id="sunday" role="tabpanel" aria-labelledby="sunday-tab">
            <table class="table table-hover">
              <tbody>
              <tr>
                <td>
                  <h4>farewell picnic</h4>
                  <p>
                    Everyone
                    <br />
                    Dress: Casual
                  </p>
                </td>
                <td>
                  10:00 to 2:00pm
                <br>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

<!--        <script>-->
<!--            $(function () {-->
<!--                $('#myTab li:last-child a').tab('show')-->
<!--            })-->
<!--        </script>-->
      </div>
    </div>
  </div>
</section>