<section id="welcome-index-venue-leader" class="jumbotron text-center">
  <div class="container">
    <h1>The Venue</h1>
  </div>
</section>
<section id="welcome-index-venue">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h2>How do I get there?</h2>
        <p>Ships sail regularly from Ushuaia, Argentina. Allow two days.</p>
        <p>There is ample snow mobile parking. Watch out for penguins.</p>
        <h2>Coming from out of town?</h2>
        <p>The station has a number of rooms that you can get at the <strong>discounted wedding rate</strong>.</p>
        <p>Check in is from 3pm, so you may not be able to get ready in your room if you book it just for the night of the wedding.</p>
      </div>
    </div>
  </div>
</section>
