<section id="when-where">
  <div class="container-fluid">
    <div class="row justify-content-center mb-4">
      <div class="col-md-6 text-center">
        <div class="title-section">
          <i class="iconoir-heart"></i>
          <h2>Who</h2>
          <span class="underline"></span>
        </div>
        <p class="larger">Our dearest friends and family</p>
        <p class="sans-caps">FROM NEAR AND AFAR</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-center">
        <div class="title-section">
          <i class="iconoir-wristwatch"></i>
          <h2>When</h2>
          <span class="underline"></span>
        </div>
        <p class="larger"><%= t :wedding_date %></p>
        <p class="sans-caps">3:30pm &ndash; late</p>
        <button type="button" class="btn btn-outline-primary">
          <%= link_to 'Add to Calendar', 'wedding.ics' %>
        </button>
      </div>
      <div class="col-md-6 text-center">
        <div class="title-section">
          <i class="iconoir-pine-tree"></i>
          <h2>Where</h2>
          <span class="underline"></span>
        </div>
        <p class="larger"><%= render partial: 'wedding_address' %></p>
        <p class="sans-caps">McKenzie Bridge, Oregon</p>
        <button type="button" class="btn btn-outline-primary">
          <%= link_to @google_maps_url do -%>Find on a map<%- end %>
        </button>
      </div>
    </div>
  </div>
</section>
