// Place all the styles related to the Guests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#guests-leader {
  background: linear-gradient(rgba(28, 13, 10, 0.4), rgba(28, 13, 10, 0.6)),
    image-url("rsvp.jpg") center center no-repeat;
  background-size: cover;

  h1 {
    color: rgba(255, 255, 255, 0.95);
  }
}

.guests-rsvp-nav {
  padding-bottom: $spacer;

  @media (max-width: 768px) {
    li.nav-item {
      width: 100%;
    }
  }
}

.guests-buttons {
  padding-top: $spacer;
  padding-bottom: 10 * $spacer;
}
